<div class="row">
    <div class="col-xs-12">
        <app-receipt-edit></app-receipt-edit>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let col of columns" scope="col">
                        {{col}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="cursor: pointer" *ngFor="let product of products ; let i= index" (click)="onEditItem(i)" [class.active]="i == selectedRow">
                    <td>
                        {{product.name}}
                    </td>
                    <td>
                        {{product.quantity}}
                    </td>
                    <td>
                        {{product.category}}
                    </td>
                    <td>
                        {{product.price}}
                    </td>
                    <td>
                        {{product.taxRate}}
                    </td>
                    <td>
                        {{product.total}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <strong>Grand Total: {{grandTotal}}</strong>
        </div>
    </div>
</div>