<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" ngModel required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" class="form-control" name="quantity" ngModel required pattern="^[1-9]+[0-9]*$">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="category">Category</label>
                    <select id="category" name="category" class="form-control" ngModel required>
                        <option>--select--</option>
                        <option *ngFor="let category of options"[value]="category" >{{category}}</option>
                    </select>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="price">Price</label>
                    <input type="number" id="price" class="form-control" name="price" ngModel required pattern="^[1-9]+[0-9]*$">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="taxRate">Tax Rate</label>
                    <input type="number" id="taxRate" class="form-control" name="taxRate" ngModel required pattern="^[0-9]+[0-9]*$">
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{editMode ? "Update": "Add"}}</button>
                    <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>